.container {
  display: grid;
  background-color: #ffe5d4;
  border: solid 15px #68a691;
  padding: 20px;
  gap: 20px;

  border-radius: 20px;

  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
}

.bookDiv {
  background-color: #ffe5d4;
  border: solid 10px #68a691;
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 10px;

  justify-content: center;
  align-items: center;

  border-radius: 20px;

  color: #68a691;
}

.bookDiv:hover {
  background-color: #68a691;
  color: #ffe5d4;
}

.infoDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.editBookBtn {
  padding: 5px;
  border: solid 2px #ffe5d4;
  border-radius: 10px;
  background-color: #68a691;
  color: #ffe5d4;
  font-weight: bold;
}

.editBookBtn:hover {
  color: #68a691;
  background-color: #ffe5d4;
}
