.container {
  display: grid;
  background-color: pink;
  border: solid 5px skyblue;
  padding: 20px;
  gap: 20px;
}

.bookDiv {
  background-color: pink;
  border: solid 5px skyblue;
  width: 150px;
  height: 150px;

  display: flex;
  flex-direction: column;
}
